<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">



    <bean id="p" class="com.nadherarroum.spring_frameworkjavaee.Person">
        <property name="id" value="55"></property>
        <property name="username" value="Nadher Arroum"></property>
        <property name="list" >
            <list>
                    <value>12345678</value>
                    <value>nadher@test.com</value>
                    <value>Tunis</value>
                    <value>Ariana</value>
                    <value>123</value>
            </list>
        </property>
    </bean>


</beans>