<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="add" class="com.nadherarroum.spring_frameworkjavaee.Addresses">
        <property name="phone" value="12345678"></property>
        <property name="email" value="nadher@test.com"></property>
        <property name="country" value="Tunis"></property>
        <property name="city" value="Ariana"></property>
        <property name="streetNum" value="123"></property>
    </bean>

    <bean id="p" class="com.nadherarroum.spring_frameworkjavaee.Person">
        <property name="id" value="55"></property>
        <property name="username" value="Nadher Arroum"></property>
        <property name="addresses" ref="add"></property>
    </bean>


</beans>